<h1>Edit <%= @movie.title %></h1>

<div class="form-container">
  <%= form_with(model: @movie, local: true) do |form| %>
    <div>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </div>

    <div>
      <%= form.label :rating %><br>
      <%= form.select :rating, ['G', 'PG', 'PG-13', 'R', 'NC-17'] %>
    </div>

    <div>
      <%= form.label :release_date %><br>
      <%= form.date_select :release_date %>
    </div>

    <div>
      <%= form.submit 'Update Movie', class: 'btn' %>
    </div>
  <% end %>
</div>

<%= link_to 'Back to Movie', movie_path(@movie), class: 'btn' %>