<h1>All Movies</h1>

<table>
  <thead>
    <tr>
      <th>
        <%= link_to 'Title', movies_path(sort: 'title', direction: toggle_direction('title')) %>
      </th>
      <th>
        <%= link_to 'Rating', movies_path(sort: 'rating', direction: toggle_direction('rating')) %>
      </th>
      <th>
        <%= link_to 'Release Date', movies_path(sort: 'release_date', direction: toggle_direction('release_date')) %>
      </th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= link_to movie.title, movie_path(movie) %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date %></td>
        <td>
          <%= link_to 'Edit', edit_movie_path(movie), class: 'btn' %> |
          <%= form_with model: movie, method: :delete, local: true do %>
            <%= submit_tag 'Delete', data: { confirm: 'Are you sure?' }, class: 'btn-delete' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add New Movie', new_movie_path %>
