<h1><%= @movie.title %></h1>

<p><strong>Rating:</strong> <%= @movie.rating %></p>
<p><strong>Release Date:</strong> <%= @movie.release_date %></p>

<%= link_to 'Edit', edit_movie_path(@movie), class: 'btn' %> |
<%= link_to 'Back to Movies', movies_path, class: 'btn' %>
<%= link_to 'Delete', @movie, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-delete' %>
